<div class="center">
  <h2>Your Application History</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Job Position</th>
    <th class="center">Company</th>
    <th class="center">Date Applied</th>
  </tr>
  <% @job_applications.each do |job_application| %>
  <tr>
    <td class="center"><%= job_application.job_posting.position %></td>
    <td class="center"><%= CompanyProfile.find(job_application.company_profile_id).company_name %></td>
    <td class="center"><%= job_application.created_at.strftime("%B %-d, %Y")%></td>
  </tr>
  <%end%>
</table>
