<div class="site-content">
  <div class="row" style="max-width: 30em;">
    <div class="all">
    	 <!--title: sign up-->
        <div class="welcome">
          <div class="row">
            <div class="large-12 small-12 columns">
              <h1>Edit Profile</h1><hr>
            </div>
          </div>
        </div>

		<%= render 'form' %>

		</div>
	</div>
</div>	