<h3>Company Profile</h3>
<h1>Job Postings</h1>
<div>
  <% @company_profiles.each do |company_profile| %>
    <div class="th">
      <div>
        <h3><%= company_profile.company_name %></h3>
      </div>
      <td><%= link_to image_tag(company_profile.image_url(:thumb)), company_profile %></td>
      <div>
        <p><%= company_profile.company_type %></p>
        <p><%= company_profile.location %></p>
      </div>
    </div>
  <% end %>
</div>
<br>