<h3>About Us</h3>
<p>Welcome to Stutern!
Stutern is an online platform to connect interns with employers</p>
<br/>

<h3>Why?</h3>
<p>We exist to help fellow Millinals thrive and change the world</p>
<br/>

<h3>What?</h3>
<p>We simply connect interns with employers. As a potential intern, we will work together with you to compose your personal profile. With your killer profile now ready, it is time to get you that internship. During your internship, this is where it gets interesting, you would have a level playing space to prove true to your employer and much more to yourself.</p>