<p>
  <strong>Description:</strong>
  <%= @stu_certification.description %>
</p>

<%= link_to 'Edit', edit_stu_certification_path(@stu_certification) %> |
<%= link_to 'Back', stu_certifications_path %>
