
.panel{
		margin: 0 20%;
		@media #{$medium-only}{margin: 0px 8%;}
		@media #{$small-only}{margin: 0px 8%;}

	.row{
		margin: 0px;
	}
}

.site-content{
	//top-card
	.top-card{
		margin: rem-calc(20px) 0px rem-calc(20px) 0px !important;

		.profile_image > img {
			width: 200px !important;
		}
		.company_name{
				background-color: $white;
			p{
				font-size: $varfontsize_hbig1;
			}
		}
		.editbutton{
			text-align: center;
			color: red;
			text-decoration: none;
			line-height: none;
			a{
			text-align: center;
			color: red;
			text-decoration: none;
			line-height: none;
			}
		}

	}

	.mid-card{
		.company_facts{
			padding-left: rem-calc(50px);
		.no_of_employees{
			i{
				margin-right: rem-calc(1px);
				font-size: $fontawes_h3;
				@media #{$medium-only}{font-size: $fontawes_h4;}
				@media #{$small-only}{font-size: $fontawes_h4;}
			}

			.fact_a_content{
				font-size: $varfontsize_h2;
				@media #{$medium-only}{font-size: $varfontsize_h5;}
				@media #{$small-only}{font-size: $varfontsize_h5;}
			}
		}
		.company_type{
			margin-left: rem-calc(10px);
			i{
				
				font-size: $fontawes_h3;
				@media #{$medium-only}{font-size: $fontawes_h4;}
				@media #{$small-only}{font-size: $fontawes_h4;}
			}

			.fact_a_content{
				font-size: $varfontsize_h2;
				@media #{$medium-only}{font-size: $varfontsize_h5;}
				@media #{$small-only}{font-size: $varfontsize_h5;}
			}
			}
		}
	}
	
	//bottom-card styling
	.bottom-card{
			
		//decsription
		.description{
			.description_title{
				padding: rem-calc(5px 5px 50px 5px);
				// border: 2px solid black;
			}
			.description_content{
				padding: rem-calc(5px 5px 50px 5px);
				// border: 2px solid black;
			}
		}

		.contact{
			.contact_title{
				padding: rem-calc(5px 5px 50px 5px);
				// border: 2px solid black;
			}
			.contact_title{
				padding: rem-calc(5px 5px 50px 5px);
				// border: 2px solid black;
			}
		}
	}
		

}

//company_profiles/index.html.erb
.content_companyprofile_index{
	margin: 5% 5% 0 5%;
	padding: rem-calc(0px 18px 0px 18px);
	background-color: $white;
	.company{
		text-align: center;
		padding: rem-calc(20px 10px 10 10px);
		width: 100%;
		.company_type{
			width: 100%;
			height: rem-calc(30%);

			.company_type_wrapper{
				i{
				margin: rem-calc(0 2% 0 0%);
				font-size: $fontawes_h2;
				color: $oil;
				}
				a{
				font-size: $varfontsize_h4;
				color: $bck;
				}
			}
		}
		.company_image{
			background-color: white;
			padding: rem-calc(27em);
			border-radius: 5px;
		}
	}
	.more{margin-top: rem-calc(50px);}
}

