.foot{
	margin: rem-calc(100px 0px 0px 0px);;
	padding: rem-calc(20px);
	background-color: $colorstutern;
	clear: both;
	.inner-wrapper{
		.about_contact{
			text-align: center;
			font-size: $h6-font-size;
		}
		#copyright{
			font-size: $small-font-size;
			text-align: center;
		}
	}
}