.foot{
	margin: rem-calc(100em 0em 0px 0em);
	height: rem-calc(200em);
	padding: rem-calc(20px);
	background-color: $white;
	clear: both;
	.about_contact{
		text-align: center;
		font-size: $h6-font-size;
	}
	#copyright{
		font-size: $small-font-size;
		text-align: center;
	}
}