.contain-to-grid{
	.top-bar{
		
		.title-area{
			
			.name{
				
				.left{
					
					.logo{
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						width: 17%;
					}
				}
				.toggle-topbar{
					
					a{
						
					}

				}
			}
		}
		.top-bar-section{
			.right{
				
			}

		}
	}
}
