<<<<<<< HEAD
.sticky{
=======
.contain-to-grid{

>>>>>>> 3c8b4475cdd14b9a54050d35869ee59ddd49bc8d
	.top-bar{
		box-shadow: 0 2px 5px rgba(0,0,0,.26);
		.title-area{
			
			.name{
				
				.left{
					
					.logo{
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						width: rem-calc(65px);
					}
				}
				.toggle-topbar{
					
					a{
						
					}

				}
			}
		}
		.top-bar-section{
			.right{
				
			}

		}
	}
}

<<<<<<< HEAD
=======

.top-bar-section ul li > a{color: black !important; }
>>>>>>> 3c8b4475cdd14b9a54050d35869ee59ddd49bc8d
