.contain-to-grid{
	.top-bar{
		
		.title-area{
			
			.name{
				
				.left{
					
					.logo{
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						width: rem-calc(65px);
					}
				}
				.toggle-topbar{
					
					a{
						
					}

				}
			}
		}
		.top-bar-section{
			.right{
				
			}

		}
	}
}

.toptext{
	background-color: none;
	position: relative;
	bottom: 30em;
	color: $white;
	text-align: center;
    opacity: 0.8;
	p{	
	text-shadow: 0px 0px 1px $black;
	font-size: 70px;
	}
}