.columns{
	padding: 0px;
	margin: 0px;
}

.intropage{
	.intro_image{
		width: 100%;
		height: rem-calc(400em);
		background-image:
		url("https://s3-us-west-2.amazonaws.com/stutern/cover.png");
		background-size: cover;
		background-repeat: no-repeat;
		@include filter(grayscale(5%) contrast(100%) brightness(0.5) blur(1.3px));
		}

	.intro_text{
		position: absolute;
		bottom: rem-calc(120em);
		left: rem-calc(300em);
		color: white;
		.text_head{
		line-height: rem-calc(45em);
		font-size: rem-calc(50em);
		font-weight: normal;
		}
		.text_body{
		line-height: rem-calc(50em);
		font-size: rem-calc(20em);
		font-weight: normal;
		}
	}
}