

.company_name{background-color:$silver;}
.company_type{background-color:$silver;}
.internship_position{background-color:$silver;}
.internship_description{background-color:$silver;}
.internship_bottom{background-color:$silver;}

.internship{
	padding: rem-calc(0px 0px 0px 0px);
	width: 100%;
	height: rem-calc(20px);
}

.company_name{
	.intership_content{
		p{
		font-size: 5px !important;
		}
	}
}

//lets go conform to a box size that's a bir wider and less longer
p{font-size: 5px !important;}