/* Effect 4: fall perspective */
.int {
    perspective: 1300px;
}
 
.int .row {
    transform-style: preserve-3d;
}
 
.grid.effect-4 .row.animate {
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    animation: fallPerspective .8s ease-in-out forwards;
}
 
@keyframes fallPerspective {
    100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}
//

.content{
	
	margin: 0 5% 0 5%;
	padding: rem-calc(0px 18px 0px 18px);

	.int{
		text-align: center;
		padding: rem-calc(30px 5px 0 5px);
		width: 100%;

		//post_top
		.post_top{
			width: 100%;
			height: rem-calc(30%);
			background-color: $charcoal;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			//company_type
			.company_type{
				padding: rem-calc(2px 0 0 0);
				a{
				font-size: $varfontsize_h4;
				color: $jumbo;
				}

				i{
				padding: rem-calc(0 0.5% 0 0);
				font-size: $fontawes_h2;
				color: $jumbo;
				}

			}
			//company_name
			.company_name{
				background-color: $charcoal;
				padding: rem-calc(0 0 2px 0);
				p{
				font-size: $varfontsize_h2;
				color: $gainsboro;
				}
			}
		}


		//middle
			.image_wrapper{
				display: block;
    			margin-left: auto;
    			margin-right: auto;
				//width: auto;
    			//height: 120px;
    			//overflow: hidden;
				.company_image{
				//width: 50;
    			//height: auto;
    			//margin: -180px 0 0 -10px;
				}
			}

		//page_down
		.page_down{
			margin: rem-calc(0% 0 0% 0);
			background-color: $charcoal;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			.int_position{
				i{
				padding: rem-calc(0 1% 0 0);
				font-size: $fontawes_h2;
				color: $jumbo;
				}
				a{
				font-size: $varfontsize_h1;
				color: $jumbo;
				}
			}

			.int_dur_paid{

				margin: rem-calc(1% 0 1% 0);
				padding: rem-calc(0 30px 2px 30px);
				a{
				font-size: $varfontsize_h4;
				color: $jumbo;
				}

				i{
				padding: rem-calc(0 1% 0 0%);
				font-size: $fontawes_h2;
				color: $jumbo;
				}
			}
		}
	}
}
//lets go conform to a box size that's a bir wider and less longer