/* Effect 4: fall perspective */
.int {
    perspective: 1300px;
}
 
.int .row {
    transform-style: preserve-3d;
}
 
.grid.effect-4 .row.animate {
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    animation: fallPerspective .8s ease-in-out forwards;
}
 
@keyframes fallPerspective {
    100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}
//

.content{
	
	margin: 0 5% 0 5%;
	padding: rem-calc(0px 18px 0px 18px);

	.int{
		text-align: center;
		padding: rem-calc(20px 10px 0 10px);
		width: 100%;

		//post_top
		.post_top{
			width: 100%;
			height: rem-calc(30%);
			background-color: white;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-top: 1px solid $oil;
			//company_type
			.company_type{
				padding: rem-calc(2px 0 0 0);
				a{
				font-size: $varfontsize_h4;
				color: $jumbo;
				}

				i{
				padding: rem-calc(0 0.5% 0 0);
				font-size: $fontawes_h2;
				color: rgb(183, 214, 219);
				}

			}
			//company_name
			.company_name{
				background-color: white;
				padding: rem-calc(0 0 2px 0);
				p{
				font-size: $varfontsize_h2;
				color: $gainsboro;
				}
			}
		}


		//middle
			.image_wrapper{
				background-color: white;
    			margin-left: auto;
    			margin-right: auto;
				//width: auto;
    			//height: 120px;
    			//overflow: hidden;
				.company_image{
				//width: 50;
    			//height: auto;
    			//margin: -180px 0 0 -10px;
				}
			}

		//page_down
		.page_down{
			margin: rem-calc(0% 0 0% 0);
			background-color: rgb(183, 214, 219);
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			border-bottom: 4px solid $oil;


			.int_position{
				a{
				color: $white;
				font-size: $varfontsize_h1;
				}
			}

			.int_dur_paid{	
				padding: rem-calc(0 20px 2px 20px);
				a{
				font-size: $varfontsize_h4;
				color: $bck;
				}

				i{
				margin: rem-calc(0 2% 0 0%);
				font-size: $fontawes_h2;
				color: $white;
				}
			.int_dur{
			margin-right:rem-calc(5px);
			}
			.int_paid{
			margin-left:rem-calc(5px);
			
			}
			}
		}
	}
	.more{margin-top: rem-calc(50px);}
}