
.panel{
		margin: 0 20%;
		@media #{$medium-only}{margin: 0px 8%;}
		@media #{$small-only}{margin: 0px 8%;}

	.row{
		margin: 0px;
	}
}

.site-content{
	//.candidate_profile{

		//.panel{
			//text-align: center;
			//padding: 0px;
		//}
	//}

	//top-card styling
	.top-card{
		margin: rem-calc(20px) 0px rem-calc(20px) 0px !important;	

		.profile_image > img {
			width: 200px !important;
		}

		.profile_overview{
			margin-left: rem-calc(10px);

			.intern_name{
					
				p{
					font-size: $varfontsize_hbig1;
				}
			}
			.education{
				
				i{
					float: left;
					margin-right: rem-calc(4px);
					font-size: $fontawes_h3;
					@media #{$medium-only}{font-size: $fontawes_h4;}
					@media #{$small-only}{font-size: $fontawes_h4;}
				}

				p{
					font-size: $varfontsize_h4;
					@media #{$medium-only}{font-size: $varfontsize_h5;}
					@media #{$small-only}{font-size: $varfontsize_h5;}
				}
			}
			.year_graduation{
				i{
					float: left;
					margin-right: rem-calc(4px);
					font-size: $fontawes_h3;
					@media #{$medium-only}{font-size: $fontawes_h4;}
					@media #{$small-only}{font-size: $fontawes_h4;}
				}

				p{
					font-size: $varfontsize_h4;
					@media #{$medium-only}{font-size: $varfontsize_h5;}
					@media #{$small-only}{font-size: $varfontsize_h5;}
				}
			}

		}
	}
	
	//bottom-card styling
	.bottom-card{
		
			//bio
			.bio{
				.bio_header{
					background-color: white;
				}
			}
			
			//brief
			.brief{
				.brief_content{
					padding: rem-calc(5px 5px 50px 5px);
					// border: 2px solid black;
				}
			}
			
			//experience
			.experience{
				margin: rem-calc(30px 0px 30px 0px);

				.experience_position{

					a{
						font-size: $varfontsize_h3;
						pointer-events: none;
	       				cursor: default;
	       				color: black;
					}
				}

				.experience_company{
					a{
						font-size: $varfontsize_h3;
						pointer-events: none;
	       				cursor: default;
	       				color: black;
					}
				}

				.experience_date{
					a{
						font-size: $varfontsize_h3;
						pointer-events: none;
	       				cursor: default;
	       				color: black;
					}
				}
				
				.experience_description{
					p{
						font-size: $varfontsize_h4;
						pointer-events: none;
	       				cursor: default;
					}
				
			}

		}
		
		//experience space
		.exp_space{
			margin-bottom: rem-calc(10px);
		}

		//education

	}
}



//student_profiles/index.html.erb
.profiled_intern{
	margin: 0 15% 0 15%;
	padding: rem-calc(0px 18px 0px 18px);
	.pro_int_listing{
		width: rem-calc(200em);
		border: 1px solid $jumbo;
		border-radius: rem-calc(3em);
		.pro_int_image{}

		.pro_int_n_m_wrapper{
			text-align: center;
			background-color: $silver;
			.pro_int_name{font-size: $varfontsize_h3; margin: 0;}
			.pro_int_grad{font-size: $varfontsize_h3; margin: 0;}
		}

		.pro_int_g_s_wrapper{
			text-align: center;
			background-color: $silver;
			.pro_int_major{font-size: $varfontsize_h4; margin: 0;}
			.pro_int_sch{font-size: $varfontsize_h4; margin: 0;}
			.fa-tags{color: $jumbo; font-size: $fontawes_h3;}
			.company_type{font-size: $varfontsize_h4; color: $jumbo;}
		}
		hr{margin: 0px; padding: 0px; border-color: $jumbo;}
		
	}
}
