@import "compass";
@import "foundation_and_overrides";
@import "font-awesome";

//Partials
//---------------------------
@import "partials/base";

//Vendor
//---------------------------
@import "vendor/base";

// customized stylsheet 
p{
	margin: 0px;
}

.center {
	text-align: center;
}

.col-md-3:nth-child(3n+1){
	clear:left;
}