<body>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Stutern", '/' %></a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li><%= link_to "About", pages_about_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Contact", pages_contact_path %></li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
</body>